*{
    box-sizing: border-box;
}
.navbar{
    background-color: black;
}
.notes{
    width: 100%;
    height: 100%;
    padding: 10%;
    background-color: grey;
}
.nav-link{
    margin-left: 20px;
    color: white;
}
.navbar-nav{
    margin-left: 70px;
    font-size: large;
}
.navbar-brand{
    color: #22eaaa;
    margin-left: 30px;
}
.navbar-brand img{
   width: 200px;
   height: 50px;
}
.carousel-item img{
    object-fit: cover;
}
img{
    width: 1500px;
    height: 590px;
}
.donate-btn{
    padding: 13px 20px 13px 20px;
    border: none;
    border-radius: 30px;
    background-color: #FF6400;
    color: white;
    text-decoration: none;
}
footer {
    width: 100%;
    float: left;
    text-align: center;
    background: #363636;
    padding: 15px 0;
    font-size: 18px;
    color: white;
}
footer .copy {
    float: left;
    color: #b6b6b6;
    font-size: 16px;
    font-family: 'MyriadProRegular';
    padding: 7px 0px 0px 170px;
}
footer .social-icon {
    float: right;
    padding-right: 70px;
}
ul{
    list-style: none;
}
footer .social-icon li {
    float: left;
    padding: 0 5px;
}
i{
    color: white;
    transform: scale(1.5);
    padding-left: 10px;
}
.nav-link:hover{
    color: #22eaaa;
}
i:hover{
    color: #22eaaa;
    transform: scale(1.3);
}
.donate-btn:hover{
    background-color: #22eaaa;
    text-decoration: none;
    color: white;
}
@media(max-width:762px) {
    footer .copy{
      padding: 7px 0px 0px 60px;
    }
    i{
      transform: scale(1.0);
      padding-left: 5px;
      }
  }
  @media(max-width:646px) {
    footer .copy{
      padding: 7px 0px 0px 30px;
    }
  }
  
